/* General Navbar Styles */
.navbar-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 60%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
  background-color: rgba(31, 31, 31, 0.8);
  border-radius: 50px;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  margin-top: 2vh;
}

/* Logo */
.navbar .logo a {
  color: gold;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 20px gold, 0 0 40px goldenrod, 0 0 60px goldenrod;
  animation: glow 2s infinite, sparkle 3s infinite;
}

/* Navigation Links */
.navbar .nav-links {
  display: flex;
  gap: 1.4rem;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-right: 1vh;
}

.navbar .nav-links li a,
.navbar .nav-links li .logout-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.navbar .nav-links li a i,
.navbar .nav-links li .logout-button i {
  font-size: 1.4rem;
}

/* Mobile Menu Toggle Icon */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.menu-icon .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: 0.3s;
}

/* Mobile Menu Styles */
.navbar .nav-links {
  display: flex;
  transition: max-height 0.3s ease;
}

.navbar .nav-links.active {
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.navbar .nav-links li {
  text-align: center;
  padding: 0.5rem 1rem;
}

/* Responsive Design */
@media (max-width: 1100px) {
  .navbar-container {
    width: 50%;
  }

  .menu-icon {
    display: block;
    margin-right: 2vh;
    margin-bottom: 0.5vh;
  }

  .navbar .nav-links {
    display: none;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
  }

  .navbar .nav-links.active {
    display: flex;
    max-height: 500px;
  }
}
