/* General Styles */
.user-panel-container {
    min-width: auto; 
    max-width: 90%; 
    min-height: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #1e1e2f;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-family: Arial, sans-serif;
    max-height: 800px; 
    overflow-y: auto; 
}

li {
    color: #fff;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.tab {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.tab:hover {
    background-color: #555;
}

.tab.active {
    background-color: #ff7f00;
}

.tab-content {
    max-height: calc(100% - 60px);
    overflow-y: auto;
}

.tab-panel {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #2a2a3d;
    color: #fff;
}

.nav-link {
    color: #fff;
}

.purchase-btn {
    background-color: #ff7f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.purchase-btn:hover {
    background-color: #ff5a00;
}

.purchase-btn:focus {
    outline: none;
}

.purchase-btn.mt-3 {
    margin-top: 20px;
}

/* For the form inputs */
input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    color: #3a3a3a;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-primary:hover {
    background-color: #45a049;
}